/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;

	--color-main: black;
	--color-secondary: white;
	--color-accent: #002F6C;

	--background-color-main: white;
	--background-color-secondary: black;
	--background-color-accent: #002F6C;
	
	--border-color: rgba(0,0,0,0.2);
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
header {
	display: flex;
	border-bottom: solid var(--border-color) 1px;
	padding: 1em;
}

nav {
	display: flex;
	align-items: center;

}

h1 {
	font-family: "Ndot";
	font-size: 1.5em;
	font-weight: 100;
	margin: 0 auto 0 0;
	color: var(--color-main);
}

nav a {
	display: flex;
	fill: none;
}

nav a svg{
	width: 34px;
	height: 28px;
}

nav button {
	height: 2.5em;
	width: 2.5em;
	position: relative;
	border: none;
	background-color: transparent;
	display: block;
}

nav button:hover {
	cursor: pointer;
}

nav button svg{
	width: 1.4em;
	height: 2px;
	margin: .2em 0em;
	transition: .2s;
}

header nav button svg:nth-of-type(1).animation1{
	transform: translateY(7px) rotate(45deg);
}

header nav button svg:nth-of-type(2).animation2{
	transform: translateY(-7px) rotate(-45deg);
}

header nav:nth-of-type(2) {
	position: absolute;
	left: 0;
	right: 0;
	bottom: auto;
	top: 4.1em;

	translate: -100% -100%;

	z-index: 2;

	background-color: var(--background-color-main);
	
}

header nav:nth-of-type(2).showMenu {
	translate: 0% 0%;
}

header nav:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	
	font-family: "Ndot";
	margin: 0;
	padding: 0;
	width: 100%;
}

header nav:nth-of-type(2) ul li a {
	padding: 1em 1em 1em 1em;
	border-bottom: solid var(--border-color) 1px;
	text-decoration: none;
	color: var(--color-main);
}

/* ////////////////////////////////// */
/* 				body				  */
/* ////////////////////////////////// */


body {
	margin: 0;
	padding: 0;
	font-family: "Ntype 82 Mono";
}

@media screen and (min-width: 700px) {
	section section {
		display: grid;
		grid-template-columns: 2fr 400px;
		
	}
}

/* > betekent direct-child-combinator */
body > p:first-of-type {
	text-align: center;
	position: sticky;
	top: 0;
	background-color: var(--background-color-main);
	z-index: 1;
	padding: .1em 0;
	margin: 0;
	border-bottom: solid var(--border-color) 1px;

}

section div:first-of-type {
	position: relative;
	overflow: hidden;
	
	display: flex;
	justify-content: center;
	height: 50em;
}

section div:nth-of-type(2) {
	width: 90%;
	margin: auto auto 2em auto ;
}

section div:first-of-type p {
	font-family: "Ndot";
	font-weight: 500;
	font-size: 5em;
	writing-mode: vertical-rl;


	position: absolute;
	left: 0;
	margin: 0;
}

section:last-of-type div:first-of-type p {
	color: white;
}

section div img {
	min-height: fit-content;
	min-width: 100%;
	object-fit: cover;
}

section a:focus {
	background-color: #012452;
	outline: solid #012452;
}

section a {
	display: flex;
	justify-content: center;
	align-content: center;

	background-color: var(--background-color-accent);
	color: var(--color-secondary);

	border-radius: 3em;
	padding: .8em;

	text-decoration: none;
	width: 100%;
}

section:nth-of-type(2) ul li{
	list-style: none;
}

section:nth-of-type(2) ul li p:first-of-type{
	font-weight: bold;
}
/* ////////////////////////////////// */
/* 				FOOTER				  */
/* ////////////////////////////////// */

footer {
	background-color: var(--background-color-secondary);
	color: var(--color-secondary);
	padding: 1.5em;

}

footer forum div {
	border: solid var(--color-secondary) 1px;
	border-radius: 1em;
	padding: 1em;
	background-color: var(--background-color-secondary);
	display: flex;
	justify-content: space-between;
	position: relative;
}

footer forum div input[type="text"] {
	border: none;
	background-color: transparent;
}

footer forum div button {
	font-family: "Ndot";
	border: none;
	background-color: transparent;
	color: var(--color-secondary);
}

footer > div:nth-of-type(1) {
	margin-top: 1em;
	display: flex;
	align-items: flex-start;	
}

footer > div:nth-of-type(2) {
	margin-bottom: 1em;	
	display: flex;
	align-items: flex-start;	
}

footer > div label {
	font-size: 15px;
	font-weight: lighter;
}

footer nav:nth-of-type(1) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	margin-bottom: 5em;
}

footer nav:nth-of-type(1) div {
	display: flex;
	flex-direction: column;
	margin: 1em 0;

}

footer nav:nth-of-type(1) div h2 {
	font-size: 16px;
	font-weight: lighter;
}

footer nav:nth-of-type(1) div ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

footer nav:nth-of-type(1) div ul li a{
	text-decoration: none;
	color: var(--color-secondary);
}

footer > h2 {
	font-weight: lighter;
	font-size: 15px;
}

footer > ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0 0 5em 0;
}

footer > ul li img {
	width: 2.5em;
	margin: 0 .5em 0 0;

}

footer > nav:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: solid var(--border-color) 1px;
}

footer > nav:nth-of-type(2) div:nth-of-type(1){
	display: flex;
	flex-direction: column;
}

footer > nav:nth-of-type(2) div:nth-of-type(2){
	display: flex;
}

footer > nav a {
	font-weight: lighter;
	font-size: 15px;
}

footer > nav a svg {
	fill: none;
	height: 30px;
}